*{
    margin: 0;
    padding: 0;
    border: 0;
}

.middle_left{
    overflow-y: auto;
    color: black;
    min-width: 800px;
    width: 74%;
    margin: 5% 0;
    padding: 20px 0;
    float: left;
    background-color: rgba(244, 244, 244, 0.9);
}

.user_list{
    display: none;
    width: 100%;
    height: auto;
}

.user_list div{
    width: 49%;
    margin: 10px 2px;
    float: left;
}

.user_info{
/*    display: none;*/
    clear: both;
    width: 100%;
    height: auto;
    background-color: rgba(213, 213, 213, 0.6);
    padding-bottom: 30px;
    margin: 10px 0;
}

.user_info .user_info_left{
    float: left;
    width: 40%;
    padding-top: 2%;
}

.user_info .user_info_left img{
    width: 150px;
/*    height: 300px;*/
}

.user_info .user_info_left h3{
    margin-left: 20px;
    font-size: 30px;
}

.user_info .user_info_left h5{
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
}

.user_info .user_info_right{
    float: right;
    width: 58%;
    text-align: left;
    padding-top: 5%;
}

.user_info .user_info_right p{
    margin-left: 2%;
}

.user_info_action{
    position: relative;
    top: 15px;
}

h4{
    width: auto;
    background-color: rgba(182, 182, 182, 0.7);
    padding: 10px 0;
    text-align: center;
    clear: both;
    margin: 20px 0;
}